.site-header{
    width: 100%;
    background-color: #49BCF1;
    overflow: hidden;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 0;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    list-style-type: none;
    
}

.nav__item + .nav__item {
    margin-left: 47px;
}

.nav__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

.link {
    width: 140px;
    padding: 16px 30px 15px 30px;
    background: #FFFFFF;
    border-radius: 28px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #24303E;

    &:hover {
        color: #FFF;
        background-color: #77CDF5;
    }
}

@media only screen and (max-with:520px) {
    
}
